/**
 * Toolkit styles
 */


body {
	font-family: serif;
}

button,
.btn {
	border:none;
	padding: 5px 10px;
	background-color: rebeccapurple;
	color: white;
	display:inline-block;
	font-size: 1.2rem;
	font-family: serif;
	text-decoration: none;
}
